@using CEB64ControlSystem.ModelsDto

@model AlumnoDto

<section class="entity-details-section">
    <div class="entity-details">
        <section class="border-bottom">
            <h4>@Model.Name</h4>
            <div >
                <a class="word-link" href="#">Editar Grupo</a>
            </div>
        </section>
        <div class="pt-3">
            <div>
                <label>@Html.DisplayNameFor(m => m.Id):</label>
                <div class="text-secondary">@Model.Id</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.FullName):</label>
                <div class="text-secondary">@Model.FullName</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.Grupo.Name):</label>
                <div class="text-secondary">@Model.Grupo.Name</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.Semestre.Name):</label>
                <div class="text-secondary">@Model.Semestre.Name</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.Sexo):</label>
                <div class="text-secondary">@Model.Sexo</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.FechaNacimiento):</label>
                <div class="text-secondary">@Model.FechaNacimiento</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.NumeroTelefonico):</label>
                <div class="text-secondary">@Model.NumeroTelefonico</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.Direccion):</label>
                <div class="text-secondary">@Model.Direccion</div>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.Mail):</label>
                <div class="text-secondary">@Model.Mail</div>
            </div>
        </div>
    </div>

    <div class="entity-lists">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Alumnos</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profesores Asignados</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Horario</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-hover table-entity secondary-props-table">
                <thead>
                    <tr>
                            <th>@Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().FullName)</th>
                            <th>@Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().Direccion)</th>
                            <th>@Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().NumeroTelefonico)</th>
                            <th>@Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().Mail)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AlumnoContactoDto Contacto in Model.Contactos)
                    {   
                        <tr>
                            <td>@Contacto.FullName</td>
                            <td>@Contacto.Direccion</td>
                            <td>@Contacto.NumeroTelefonico</td>
                            <td>@Contacto.Mail</td>
                        </tr>
                    }
                </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
    </div>
</section>

@section styles {
    <link rel="stylesheet" href="~/css/DetailsPage.css" asp-append-version="true" />
}